<div class="cont-head">
    <div class="cont-text container">
        <h1>Institucional</h1>
    </div>
</div>

<div id="inner-content" class="container">
    <div id="about">
        <div class="row-fluid">
            <div class="span5">
                <img alt="" src="upload/about.jpg">
            </div>
            <div class="span7 recuo">
                <h1>Nossa Empresa</h1>
                <p>A <strong>Aiwa Representações</strong> atua no mercado de materiais de construção, materiais elétricos, home centers e distribuidoras de construção civil.</p>
              <p>Seu fundador <strong>José Antonio da Silva</strong> atua no segmento desde 1996, são anos de experiência e relacionamento no segmento, com ampla rede de contatos nas principais empresas do ramo.</p>
<p>Sediada em Joinville, a <strong>Aiwa Representações</strong> atua em todo o estado de Santa Catarina, tendo como seus principais clientes as maiores redes de lojas de departamento de materiais de construção, ferragens e materiais elétricos do estado.</p>
<p>
Se sua  empresa tem produtos e/ou serviços voltados a esse segmento ou tem interesse em desenvolve-los, conte com a <strong>Aiwa Representações</strong>.</p>
            </div>
        </div>

        <div class="row-fluid clearfix" id="our-team">
            <h1>Equipe</h1>

            <div class="span3" id="member1">
                <a href="#"><img alt="" src="images/mano.jpg"></a>
                <h4>José Antônio da Silva</h4>
                <span>CEO & Diretor geral</span>
            </div>

            <div class="span3" id="member">
                <a href="#"><img alt="" src="images/suzana.jpg"></a>
                <h4>Suzana Budal da Silva</h4>
                <span>Diretora administrativa</span>
            </div>
        </div>

    </div>
</div>