<div class="cont-head">
    <div class="cont-text container">
        <h1>Contato</h1>
    </div>
</div>
<div id="inner-content" class="container">

  <div id="contact" class="row-fluid">
      <div class="span12 map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3578.129559921454!2d-48.6442804!3d-26.25745819999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94d94c2f258b032d%3A0xb0b609b74dc9b372!2sAvenida+Doutor+Nereu+Ramos%2C+14+-+Das+Laranjeiras!5e0!3m2!1spt-BR!2sbr!4v1393006433531" width="100%" height="300" frameborder="0" style="border:0">
	</iframe>
      
      </div>

      <div class="row-fluid">
          <div class="span8">
              <h1>Mande-nos uma mensagem:</h1>
              <form id="contact-form">
                  <label id="label" for="name"></label><input name="name" id="name" type="text" placeholder="Nome" value="">
                  <label id="label1" for="mail"></label><input name="mail" id="mail" type="text" placeholder="Email" value="">
                  <label id="label2" for="website"></label><input name="website" id="website" type="text" placeholder="Website" value="">
                  <textarea name="comment" placeholder="Mensagem" ></textarea>
                  <div id="msg" class="message"></div>
                  <input type="submit" id="submit" value="Enviar">
              </form>
          </div>

          <div class="span4">
              <h1>Informações</h1>
              <div>
                  <p><img alt="" src="images/contact1.png">aiwa@aiwa.com</p>
                  <p><img alt="" src="images/contact2.png">047 3429-4000</p>
                  <p><img alt="" src="images/contact3.png">http://www.aiwa.com</p>
              </div>

              <ul> <!-- Social Icons -->
                  <li><a href="#"><img alt="" src="images/fb.png"></a></li>
                  <li><a href="#"><img alt="" src="images/twi.png"></a></li>
              </ul>
          </div>
      </div>

  </div>
</div>