<div id="inner-content" class="container">

        <article class="clearfix span12" style="margin-top: 30px;">
            <blockquote class="span8">Faça um tour e conheça mais sobre a nossa empresa</blockquote>
            <a href="#">Saiba mais<span></span></a>
        </article>

    <div class="row-fluid" id="articles">
            <div class="span4 home-skills">
                <img alt="" src="images/list-check.png"><span class="small-title">Missão</span>
                <p class="small-desc">Representar empresas e produtos voltados ao comércio de ferramentas, ferragens, e materiais elétricos, intermediando negócios que garantam uma relação sustentável entre indústria, representante, cliente, usuário, meio ambiente e sociedade. Ter empresas sérias e conceituadas no portfólio, com atuação proativa e contínua junto aos clientes.</p>
            </div>

            <div class="span4 home-skills">
                <img alt="" src="images/list-check.png"><span class="small-title">Visão</span>
                <p class="small-desc">Estar entre os melhores representantes do segmento, ter o reconhecimento e respeito das representadas e clientes, com relacionamentos que representem vínculos para toda a vida.</p>
            </div>	

            <div class="span4 home-skills">
                <img alt="" src="images/list-check.png"><span class="small-title">Valores</span>
                <ul>
                  <li>Respeito e humildade;</li>
                  <li>Gentileza e coragem;</li>
                  <li>Persistência e perseverança;</li>
                  <li>Ousadia e criatividade;</li>
                  <li>Pro atividade e Serenidade;</li>
                </ul>
            </div>
    </div>

</div>