<div class="cont-head">
	<div class="cont-text container">
        <h1>Representações</h1>
    </div>
</div>
<div id="inner-content" class="container">
  <div id="recent" class="clearfix">
      <div class="left">
              <div style="height: 140px;"><img alt="" src="http://www.etilux.com.br/static/portal/img/logo_etilux.png"></div>
              <a href="http://www.etilux.com.br/" id="up" target="_blank"></a>
              <p>Etilux</p>
      </div>
      <div class="left">
              <div style="height: 140px;"><img alt="" src="http://www.multiindustrial.com.br/web_upload/paginas/Logo-FC_PTO.jpg"></div>
              <a href="http://www.multiindustrial.com.br/" target="_blank" id="up"></a>
              <p>FC Fios e Cabos</p>
      </div>
  </div>

</div>